<!-- html template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        Verbruikstand: <p id="verbruikstand">{{ verbruikstand }}</p>
        Leverstand: <p id="leverstand">{{ leverstand }}</p>
        Vermogen: <p id="vermogen">{{ vermogen }}</p>
        Gas: <p id="gas">{{ gas }}</p>
    </div>

    <script>
        // Function to update dashboard values using AJAX
        function updateDashboardValues() {
            fetch('/api/latest', { method: 'GET', headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('verbruikstand').innerText = parseFloat(data["verbruik stand 1"]) + parseFloat(data["verbruik stand 2"]);
                    document.getElementById('leverstand').innerText = parseFloat(data["lever stand 1"]) + parseFloat(data["lever stand 2"]);
                    document.getElementById('vermogen').innerText = parseFloat(data["verbruik"]) - parseFloat(data["leveren"]);
                    document.getElementById('gas').innerText = parseFloat(data["aardgas"]);
                })
                .catch(error => console.error('Error fetching dashboard data:', error));
        }

        // Periodically update dashboard values (every 5 seconds in this example)
        setInterval(updateDashboardValues, 5000);

        // Initial update on page load
        updateDashboardValues();
    </script>
</body>
</html>

